button {
  &.default {
    background: #ffffff;
    border: 1px solid #a1a1aa;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px 16px;
    color: #27272a;
    font-weight: bolder;
    line-height: 150%;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
  }
  &.accept {
    background: #22c55e;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
  }
  &.deny {
    background: #dc2626;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
  }
}
